//colors
$background-color: var(--appBackgroundColor)
$hover-day-field: var(--hoverDayFieldBackgroundColor)
$main-color: var(--mainColor)
$hover-active-day: var(--hoverCurrentDayBackgroundColor)
$background-field: var(--backgroundDayField)
$main-font-color: var(--mainFontColor)
$modal-headers-color: var(--modalHeadressColor)
$break-line-color: var(--breakLineColor)
$menu-background-color: var(--menuBackgroundColor)
$white: #FFFFFFFF

//breakpoints
$large: 740px
$medium: 630px
$small: 460px
$extra-small: 300px

//inputs
$input-background-color: var(--inputBackgroundColor)
$input-placeholder-color: var(--inputPlaceholdercolor)

//buttons
$btn-rectangle-color: $main-color
$btn-rectangle-background-color: #FCFCFD
$btn-rectangle-shawod: #D6D6E7

$btn-rectangle--gradient-color: #FFFFFFFF
$btn-rectangle--gradient-background-color: var(--btnRectangleGradientColor)

//notifications
$success-background: var(--successBackground)
$success-border: var(--successBorder)
$success-color: var(--successColor)

$info-background: var(--infoBackground)
$info-border: var(--infosBorder)
$info-color: var(--infoColor)

$danger-background: var(--dangerBackground)
$danger-border: var(--dangerBorder)
$danger-color: var(--dangerColor)